<div>
  <label>Введите старый пароль:</label>
  <input #oldPasswordInput type="password">
</div>
<div>
  <label>Введите новый пароль:</label>
  <input #newPasswordInput type="password">
</div>
<div>
  <label>Повторите новый пароль:</label>
  <input #newPasswordConfirmInput type="password">
</div>
<div>
  <button [disabled]="newPasswordInput.value !== newPasswordConfirmInput.value" (click)=" this.changePassword(oldPasswordInput.value, newPasswordInput.value, newPasswordConfirmInput.value)">Изменить</button>
</div>

