<!DOCTYPE html>
<html lang="en">
<head>
  <title>Фуфлопродукты</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Фуфлопродукты</h1>
    <p style="text-indent: 1.5em">Фуфлопродукты созданы специально для того, чтобы помочь вам избежать плохих покупок.
Добавляйте продукты по фотографии штрихкода, оценивайте, комментируйте, и впредь вы никогда не купите плохой продукт дважды.<br></p>
<p style="text-indent: 1.5em">На сайте применена технология распознания штрихкода, которая автоматически дешифрует штрихкод по его фотографии, делает
запросы через интернет о полной информации об этом продукте, так что вам даже не придется вводить его название! Единственное, что вам
останется сделать - сфотографировать, загрузить, оценить, и никогда больше не покупать.<br></p>
<p style="text-indent: 1.5em">Впрочем, никто не запрещает вам использовать наш сайт и для запоминания хороших продуктов :)<br>Пользуйтесь на ваше усмотрение.</p>
<p style="font-size: 85%">p.s. там внизу есть маааленькая такая оранжевенькая кнопочка с чудесным функционалом, обязательно посмотрите, что она делает!</p>
  </div>
  <!-- <p>This is some text.</p>
  <p>This is another text.</p>       -->
</div>

</body>
</html>
