<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="true">

  <!-- Base variables -->
  <variable name="logsDirectory" value="${basedir}/App_Data" />

  <!-- Layout variables -->
  <variable name="requestUrl" value="${aspnet-Request-IP}->[${aspnet-request-method}]${aspnet-request-url:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}" />
  <variable name="messageDate" value="${date:universalTime=true:format=HH\:mm\:ss.fff}" />
  <variable name="messageException" value="${exception:format=Type,Message,Data,StackTrace,Data:innerFormat=toString,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n}" />
  <variable name="messageLayout" value="${messageDate} ${requestUrl} |${aspnet-User-Identity} |${logger:shortName=true}| [${uppercase:${level}}] ${message} | ${messageException}" />

  <!-- Sync targets -->
  <targets>
    <target name="toConsole" xsi:type="ColoredConsole"  layout="${var:messageLayout}" />
  </targets>

  <!-- Async targets with retrying -->
  <targets async="true">
    <default-wrapper xsi:type="RetryingWrapper"/>
    <target name="toRemoteConsole" xsi:type="NLogViewer" address="udp://127.0.0.1:7071" />
    <target name="toFile" xsi:type="File" fileName="${logsDirectory}/logs/${shortdate}.log" concurrentWrites="true" layout="${var:messageLayout}" />
  </targets>

  <!-- HttpRequest buffer target with error filter-->
  <targets>
    <default-wrapper xsi:type="AspNetBufferingWrapper"/>
    <target name="allOutputs" xsi:type="PostFilteringWrapper" defaultFilter="level >= LogLevel.Info">
      <target xsi:type="SplitGroup">
        <target-ref name="toConsole" />
        <target-ref name="toRemoteConsole" />
        <target-ref name="toFile" />
      </target>
      <!--if there is at least one error, log everything from trace level-->
      <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />
    </target>
  </targets>

  <rules>
    <!-- Loggger per app layer -->
      <logger name="*.Logic.*" writeTo="allOutputs" minlevel="Trace" />
      <logger name="*.DataAccess.*" writeTo="allOutputs" minlevel="Trace" />
      <logger name="*.Web.*" writeTo="allOutputs" minlevel="Trace" />
  </rules>

</nlog>
