<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true">

  <variable name="appnaNme" value="WasteProducts.Web" />
  <variable name="logsDirectory" value="${basedir}/App_Data" />

  <variable name="gmailUsername" value="${trim-whitespace:${file-contents:${logsDirectory}/gmailusername.txt}}" />
  <variable name="gmailPassword" value="${trim-whitespace:${file-contents:${logsDirectory}/gmailpassword.txt}}" />

  <variable name="dafaultLayout" value="[${longdate}]  ${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true:IncludeScheme=true} || ${uppercase:${level}} ${message}" />

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target xsi:type="ColoredConsole" name="toConsole" layout="${var:dafaultLayout}" />
    <target xsi:type="File" name="toFile" fileName="${var:logsDirectory}/logs/${shortdate}.log" layout="${var:dafaultLayout}" />
    <target xsi:type="NLogViewer" name="toRemoteConsole" address="udp://127.0.0.1:7071"/>

    <wrapper-target xsi:type="PostFilteringWrapper" name="postFilter">
      <compound-target xsi:type="SplitGroup">
        <target-ref name="toConsole" />
        <target-ref name="toRemoteConsole"/>
        <target-ref name="toFile" />
      </compound-target>

      <defaultFilter>level >= LogLevel.Info</defaultFilter>
      <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />
    </wrapper-target>

    <!--<wrapper-target xsi:type="ASPNetBufferingWrapper" name="toAllOutput">
      <wrapper-target-ref name="postFilter"/>
    </wrapper-target>-->

    <wrapper-target xsi:type="AsyncWrapper" name="toAllOutputsAsync">
      <!--<wrapper-target-ref name="toAllRequestOutput" />-->
      <wrapper-target-ref name="postFilter" />
    </wrapper-target>

  </targets>

  <rules>

    <logger name="*" writeTo="toAllOutputsAsync" minlevel="Trace" />
    <!--<logger name="*.Logic.*" writeTo="file" level="Off"  />
    <logger name="*.DataAccess.*" writeTo="file" level="Off"   />-->
  </rules>

</nlog>
