<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="true"
      internalLogFile="c:\temp\logFile.log" internalLogLevel="Trace">

  <variable name="logsDirectory" value="${basedir}/App_Data" />
  <variable name="messageLayout" value="${shortdate}| ${logger} | [${uppercase:${level}}] | ${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true:IncludeScheme=true} | ${message}" />

  <targets>
    <target name="toFile" xsi:type="File" fileName="${var:logsDirectory}/logs/${shortdate}.log" layout="${var:messageLayout}" />
  </targets>

  <rules>
    <logger name="*" writeTo="toFile" minlevel="Trace" />
  </rules>

</nlog>
