<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Waste Products</title>
    <!-- Site favicon -->
    <link rel="icon" href="~/Content/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/icons/regular.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/icons/fontawesome.min.css" rel="stylesheet" type="text/css"/>


    <!-- Custom styles for this template -->
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<nav>

</nav>
<main class="container-fluid">
    @RenderBody()
</main>


<!-- Body END-->
<!-- Bootstrap core scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>

<!-- Custom scripts -->
<script src="~/Scripts/Site.js"></script>
</body>
</html>