<mat-card>
  <mat-card-title>

    <mat-toolbar color="primary">
      <mat-icon>group</mat-icon><span class="px-3">{{group.Name}}</span>
      <span class="toolbar-spacer"></span>
      <mat-icon (click)="edit()" class="toolbar-icon">edit</mat-icon>
    </mat-toolbar>

  </mat-card-title>
  <mat-card-content>

    <div class="p-2">
      <p class="lead">{{group.Information}}</p>
    </div>

    <mat-divider></mat-divider>

    <app-board-list class="row py-4" [boards]="group.GroupBoards"></app-board-list>

  </mat-card-content>
</mat-card>
