<div style="border-style: groove; margin: 20px;"><!-- todo change style of the outer div -->
  <div><input type="file" (change)="onFileSelected($event)"></div>
  <input type="number" id="inputRating" (keyup)="onRatingTyping($event)" class="form-control" placeholder="Ваша оценка продукта от 0 до 10" required="" autofocus="">
  <input type="text" id="inputDescription" (keyup)="onDescriptionTyping($event)" class="form-control" placeholder="Ваше описание продукта" required="" autofocus="">
  <div><button type="button" (click)="onUpload()" mat-flat-button>Добавить продукт</button></div>
</div>
