<button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="myCabinet">Мой кабинет</button>
            <button mat-button href="#" routerLink="/all-to-list" style="margin: 10px;" routerLinkActive="active">
                Продукты
            </button>
          </mat-menu>

<mat-menu #myCabinet="matMenu">
  <button mat-menu-item  href="#" routerLink="/friends" style="margin: 10px;" routerLinkActive="active">
      <a>Мои друзья</a>
  </button>
  <button mat-menu-item href="#" routerLink="/products" style="margin: 10px;" routerLinkActive="active">
      <a>Мои продукты</a>
  </button>
  <button mat-menu-item href="#" routerLink="/groups" style="margin: 10px;" routerLinkActive="active">
      <a>Мои группы</a>
  </button>
  <button mat-menu-item href="#" routerLink="/settings" style="margin: 10px;" routerLinkActive="active">
      <a>Настройки</a>
  </button>
</mat-menu>