<nav class="navbar is-primary is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="../assets/img/WasteProducts-Logo.png" alt="Made with IT-Academy" height="100%">
    </a>
    <a class="navbar-item">
      <app-main-page></app-main-page>
    </a>
  </div>
  <div class="navbar-end">
    <!-- Seaerch -->
    <div class="navbar-item">
      <app-search></app-search>
    </div>
    <!-- Account -->
    <div class="navbar-item">
      <app-account-panel-button></app-account-panel-button>
    </div>

  </div>
</nav>
