.search-component {
  width: 500px;
}

input.search {
  width: 180px;
  height: 35px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #5c5d5e;
  background: rgb(255, 255, 255);
  outline: none;
  position: relative;
  transition: .3s linear;
}
input.search:focus {
  width: 350px;
}
