
<div class="search-component">
  <div class="input-group mb-3">
      <input #query1 type="text" class="form-control" placeholder="Your search query..." aria-label="Your search query..." aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(query1.value)">Search</button>
        <button class="btn btn-outline-secondary" type="button" (click)="query1.value=''">Clear</button>
      </div>
  </div>
</div>

<div class="search-component">
  <input class="search" [(ngModel)]="query" type="text" placeholder="Your search query...">
  <button mat-button *ngIf="query" (click)="query=''" matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-button type="submit" (click)="search(query)" matSuffix mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="search-component">
  <input class="search" [(ngModel)]="query2" (keyup)="search(query2)" type="text" placeholder="Your search query...">
  <button mat-button *ngIf="query2" (click)="query2=''" matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
</div>
