.search-component {
  width: 500px;
}

input.search-style {
  width: 180px;
  height: 35px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #5c5d5e;
  outline: none;
  position: relative;
  transition: .3s ease-in-out;
}
input.search-style:focus {
  width: 350px;
}
