<div id="search-component">
  <div class="input-group mb-3">
      <input #query type="text" class="form-control" placeholder="Your search query..." aria-label="Your search query..." aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="search(query.value)">Search</button>
      </div>
  </div>
</div>

<div id="search-component">
  <div id="search-3">
    <input class="search-3" #query type="text" placeholder="Your search query...">
    <button class="search-3" type="submit" (click)="search(query.value)">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>
