<div class="search-component">
  <input class="search-style" [(ngModel)]="query" type="text" placeholder="Your search query..."
        (keyup)="searchInTopQueries(query)" (keyup.enter)="search(query)">
  <button *ngIf="query" matSuffix mat-button mat-icon-button aria-label="Clear" (click)="clearQueries()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div *ngIf="topQueries.length > 0">
  <ul>
    <li *ngFor="let item of topQueries">
      <a href="#" (click)="search(item)">{{item}}</a>
    </li>
  </ul>
</div>

<app-search-result *ngIf="searchResult.length > 0" [searchProducts]="searchResult" [statusCode]="200"></app-search-result>

<!--mat-form-field>
  <input matInput type="text" placeholder="Your search query..." [(ngModel)]="query" (keyup.enter)="search(query)">
  <button *ngIf="query" matSuffix mat-button mat-icon-button aria-label="Clear" (click)="query=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field-->
