<div class="search-component">
  <input class="search-style" [(ngModel)]="query" type="text" placeholder="Поиск продукта..."
        (keyup)="searchInTopQueries(query)" (keyup.enter)="search(query)">
  <button *ngIf="query" matSuffix mat-button mat-icon-button aria-label="Clear" (click)="clearQueries()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-nav-list *ngIf="topQueries.length > 0" class="nav-list">
  <a mat-list-item href="#" *ngFor="let item of topQueries" (click)="search(item)">{{item}}</a>
</mat-nav-list>

<app-search-result *ngIf="searchResult.length > 0" [searchProducts]="searchResult" [statusCode]="errorStatusCode"></app-search-result>
