<mat-card>
  <mat-card-title>

    <mat-toolbar color="primary">
      <span>My groups</span>
    </mat-toolbar>

  </mat-card-title>
  <mat-card-content>

    <mat-list>

      <h2 mat-subheader>Your groups:</h2>
      <ng-container *ngIf="myGroup; else elseTemplate">
        <mat-list-item>
          <mat-icon mat-list-icon>group</mat-icon>
          <h4 mat-line>{{ myGroup.Name }}</h4>
          <p mat-line> {{ myGroup.Information }} </p>
        </mat-list-item>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-list-item>
          <h4 mat-line class="text-center">You haven't own group yet</h4>
          <button mat-button mat-line (click)="createGroup()">
            <mat-icon>group_add</mat-icon> Create own group
          </button>
        </mat-list-item>
      </ng-template>

      <mat-divider></mat-divider>

      <h2 mat-subheader>Your other groups: </h2>
      <ng-container *ngIf="(otherGroups | async).length > 0; else elseTemplate">
          <mat-list-item *ngFor="let group of otherGroups | async">
              <mat-icon mat-list-icon>group</mat-icon>
              <h4 mat-line>{{ group.Name }}</h4>
              <p mat-line> {{ group.Information }} </p>
            </mat-list-item>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-list-item>
            <p mat-line class="lead text-center">You haven't other groups</p>
          </mat-list-item>
        </ng-template>

    </mat-list>

  </mat-card-content>
</mat-card>
