<app-component-search (searchCollectionEvent)="recieveSearchResult($event)" (statusCodeEvent)="recieveStatusCode($event)"></app-component-search>

<div *ngIf="searchProducts.length > 0; else error">
  <table class="table table-hover">
      <tbody>
        <tr *ngFor="let result of searchProducts">
          <td hidden = true>{{result.Id}}</td>
          <td>{{result.Name}}</td>
          <td>{{result.Description}}</td>
        </tr>
      </tbody>
  </table>
  <h2 *ngIf="statusCode === 204">Not found .....</h2>
</div>

<ng-template #error>
    <h1>Somethig was wrong. Status code {{statusCode}}</h1>
</ng-template>

