#search-result {
  margin: 50px;
}

table {
  width: 100%;
}

mat-list-item {
  width: 100%;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
mat-list-item:hover {
  background-color: #a2dee9;
}

mat-list {
  background-color: white;
}
